[rebase]
	autoStash = true
[pull]
	rebase = true
[alias]
	up = pull --rebase --autostash
[user]
	name = Linghua Zhang
	email = linghua.zhang@me.com
[init]
	defaultBranch = main
[credential]
	helper = osxkeychain
[commit]
	template = ~/.config/git/template
