[submodule ".zsh/zsh-completions"]
	path = .zsh/zsh-completions
	url = git@github.com:zsh-users/zsh-completions.git
[submodule ".zsh/zce.zsh"]
	path = .zsh/zce.zsh
	url = git@github.com:hchbaw/zce.zsh.git
